{% extends 'base.html' %}
{% block css %}

.col-sm-4 {
border:`1px solid black;
border-radius:5px;
padding:12px;
margin-left:auto;
margin-right:auto;
}
{% endblock css %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-4">
<h2 style = "text-align:center;">Enter New Password</h2>
<hr>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post">
{% csrf_token %}
{{ form | crispy }}
<br>
<button style = "width:100%;" type="submit" class = "btn btn-primary">Change My Password</button>

</form>
<hr>
<a href="{% url 'login' %}" class="btn btn-success" style = "width:100%;">Back To Login</a>

</div>
</div>
</div>

{% endblock content %}